$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

.c-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 350px;
  background-color: white;
  margin: 25px;
  box-shadow: $box-shadow;
  padding: 10px;

  &--details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--button {
    background-color: #4ac29a;
    color: white;
    border-radius: 5px;
    box-shadow: $box-shadow;
  }

  img {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow;
  }
}
