.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-style: italic;
  &--jobs {
    text-align: center;
  }
  &--friends {
    text-align: center;
  }
}
