$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 350px;
  background-color: white;
  margin: 25px;
  box-shadow: $box-shadow;
  padding: 10px;

  &--name {
    font-weight: bold;
  }

  p {
    margin: 6px;
    font-size: 12px;
    letter-spacing: 0.5px;
  }

  &--details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--button {
    background-color: #4ac29a;
    color: white;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: $box-shadow;
    outline: none;
  }

  img {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow;
    margin-bottom: 8px;
  }
}
