@import url("https://fonts.googleapis.com/css?family=Amatic+SC&display=swap");

.c-title {
  display: flex;
  justify-content: center;

  h2 {
    font-family: "Amatic SC", cursive;
    color: white;
    font-size: 50px;
  }
}

.c-searcharea {
  display: flex;
  justify-content: center;
}

.c-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
